[Unit]
Description=Kubernetes Kubelet
After=docker.service
Wants=docker.service

[Service]
ExecStart=/usr/local/bin/kubelet \
--address=workerIP \
--require-kubeconfig=true \
--kubeconfig=/etc/kubernetes/workerworkerID/kubeconfig.yaml \
--container-runtime=docker \
--cluster_domain=cluster.local \
--cluster_dns=10.0.0.10 \
--port=10250 \
--allow-privileged=true \
--hostname_override=minionworkerID.cluster.local \
--register-node=true \
--cgroup-driver=systemd \
--tls-cert-file=/etc/kubernetes/ssl/workerworkerID/worker.pem \
--tls-private-key-file=/etc/kubernetes/ssl/workerworkerID/worker-key.pem
--logtostderr=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
