[Unit]
Description=Kubernetes Kubelet
After=docker.service
Wants=docker.service

[Service]
ExecStart=/opt/kubernetes/server/bin/kubelet \
--address=$THIS_IP \
--port=10250 \
--allow-privileged=true \
--hostname_override=$MASTERID.cluster.local \
--cluster_dns=10.0.0.10 \
--cluster_domain=cluster.local \
--pod-manifest-path=/etc/kubernetes/manifests \
--register-node=false \
--cgroup-driver=systemd \
--logtostderr=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
